# build
target/
*.iso

# initramfs
/flower-boot/initramfs/**/*.txt
/flower-boot/initramfs/*.hash
/flower-boot/initramfs/*
/flower-boot/*.tar

# crates artifacts
mono/target/*
libc/target/*
programs/target/*
kernel/target/*

/base/usr/bin/*
!/base/usr/bin/.gitkeep

/base/usr/include/*
!/base/usr/include/.gitkeep

# tooling and other misc hack stuff
flower-apps/lethe/*
flower-tooling/*

*.tar