# build
target/
*.iso

# initramfs
/flower-boot/initramfs/**/*.txt
/flower-boot/initramfs/*.hash
/flower-boot/initramfs/*
/flower-boot/*.tar

# tooling and other misc hack stuff
flower-apps/lethe/*
flower-tooling/*